
<li class="visible-xs-block">
	<%= link_to notifications_path, class: "notification-tab-link" do %>
		<span>Notifications</span>
		<% if current_user.notifications_unread.size > 0 %>
			<span class='notification-badge'>
				<%= current_user.notifications_unread.size %>
			</span>
		<% end %>
	<% end %>
</li>
<li class="dropdown hidden-xs">
	<%= link_to (url_for({controller: "notifications", action: "index", offset: 0})), remote: true, id:"notification-tab-more-link", class: "dropdown-toggle notification-tab-link notification-tab-dropdown", role: "button", aria: {expanded: "false"} do %>

		<span class='glyphicon glyphicon-bell'></span>
		<% if current_user.notifications_unread.size > 0 %>
			<span class='notification-badge'>
				<%= current_user.notifications_unread.size %>
			</span>
		<% end %>
	
	<% end %>

	<ul class="dropdown-menu notifications-tab" id="notification-tab-click", style="height:300px;overflow:auto;" role="menu" aria-labelledby="dLabel">
		<li class="notification-tab-header">
			<div>
				<div>
					<h4>Notifications</h4>
				</div>
				<div style="text-align:right;">
					<%= link_to notifications_path do %>
						<h4>View all <i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
					<% end %>
				</div>
			</div>
		</li>
		<div class="notification-tab-loading" id="notifications-container">
			<%= image_tag "ajax-loader.gif" %>
			<div>
				Loading...
			</div>
		</div>
	</ul>
</li>