<% provide(:title, 'Notifications') %>

<h1>Notifications</h1>

<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<% if @notifications.unread.size > 0 %>
			<%= link_to "Mark all as read", (url_for({controller: "notifications", action: "mark_read"})), remote: true, id: "notification-mark-read-link" %>
		<% end %>
		<% date = nil %>
		<% @notifications.each do |n| %>
			<% if date != n.created_at.to_date %>
				<div class="row notification-date">
					<div class="col-xs-12">
						<%= get_date(n.created_at) %>
					</div>
				</div>
				<% date = n.created_at.to_date %>
			<% end %>
			<div id="<%= n.id %>_notification" class="row notification-item <%= n.notified? ? '' : 'notification-read' %>">
				<div class="col-xs-2 notification-gravatar">
					<%= link_to (url_for({controller:"notifications", action: "mark_read", id: n.id})), remote: true do %>
						<div class="notification-read-link pull-left hidden-xs" style="display:inline:block;">
							<% if n.notified %>
								<div data-toggle="tooltip" title="Mark as unread" class="glyphicon glyphicon-remove-circle"></div>
							<% else %>
								<div data-toggle="tooltip" title="Mark as read" class="glyphicon glyphicon-ok-circle"></div>
							<% end %>
						</div>
					<% end %>
					<%= link_to n.sender do %>
						<%= gravatar_for n.sender, size: 40 %>
					<% end %>
				</div>
				<div class="col-xs-8 col-md-9 notification-message">
					<%= link_to n.notifiable do %>
						<%= n.get_message %>
					<% end %>
				</div>
				<div class="col-xs-2 col-md-1 notification-time">
					<%= get_time(n.created_at) %>
				</div>
			</div>
		<% end %>
	</div>
</div>