<div class="row">
	<%= f.label :first_name %>
	<%= f.text_field :first_name, class: 'form-control', placeholder: "Enter first name" %>
</div>
<div class="row">
	<%= f.label :last_name %>
	<%= f.text_field :last_name, class: 'form-control', placeholder: "Enter last name" %>
</div>
<div class="row">
	<%= f.label :email %>
	<%= f.text_field :email, class: 'form-control', placeholder: "Enter email" %>
</div>
<div class="row">
	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
</div>
<div class="row">
	<%= f.label :password_confirmation, "Confirm password" %>
	<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password" %>
</div>
<div class="row">
	<%= f.label :phone, "Phone (optional)" %>
	<%= f.text_field :phone, class: 'form-control', placeholder: "Enter phone number in format (xxx) xxx-xxxx" %>
</div>

<div class="row">
	<div>
		<%= label :skill_level_id, "Skill level" %>
		<span class="glyphicon glyphicon-question-sign" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" title="What's my skill level?" data-content="For explanations on skill ratings, click <a href='http://www.usta.com/Adult-Tennis/USTA-League/Information/1655_General_Characteristics_of_Various_NTRP_Playing_Levels/' target='_blank'>here</a>"></span>
	</div>
	<% @skill_levels.each do |skill_level| %>
		<div class="col-md-4">
			<%= f.radio_button :skill_level_id, skill_level.id %>
			<%= f.label :skill_level_id, "#{skill_level.skill_level} (#{skill_level.ntrp_rating})", value: skill_level.id %>
		</div>
	<%end%>
</div>
<div class="row">
	<div>
		<%= label :right_left_handed, "Right or left handed?" %>
	</div>
	<div class="col-md-2">
		<%= f.radio_button :right_left_handed, 'right' %> 
		<%= f.label :right_left_handed, 'Right', value: "right" %>
	</div>
	<div class="col-md-2">
		<%= f.radio_button :right_left_handed, 'left', value: "left" %>
		<%= f.label :right_left_handed, 'Left', value: "left" %>
	</div>
</div>

<div style="border:1px solid;border-radius:4px;margin-bottom:20px;padding-top:10px;">
	<div style="text-align:center;">
		<h4 style="padding:0; margin:0;display:inline-block;">Home Court Address</h4>
		<span class="glyphicon glyphicon-question-sign" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" title="What's this for?" data-content="Tennis-pickup uses your home court address to find other players near you. It will also be used as a default location when challenging other players to a match!"></span>
		<p style="font-size:12px;color:gray;padding:0 10px;">(For your privacy, please enter a tennis court address and not your home address)</p>
	</div>
	<%= f.fields_for :address do |address| %>
		<%= render "shared/address_fields", address: address %>
	<% end %>
</div>
