<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= render 'pagination' %>
<div class="panel panel-default">
  <div class="table-responsive">
	  <table class="table table-hover">
	    <thead>
	    	<tr>
	    		<th style="width:40px"></th>
		    	<th><%= sortable "first_name" %>&nbsp;<span></span></th>
		    	<th><%= sortable "last_name" %>&nbsp;<span></span></th>
		    	<th><%= sortable "skill_level_id", "Skill level" %>&nbsp;<span></span></th>
		    </tr>
	    </thead>
	    <tbody>
	    	<% @users.each do |user| %>
				<tr onclick="document.location = 'users/<%=user.id%>';">
					<td><%= gravatar_for user, size:40 %> </td> 
					<td><%= user.first_name %></td>
					<td><%= user.last_name %></td>
					<td><%= ntrp_rating user.skill_level_id %></td>
				</tr>
	    	<% end %>
	    </tbody>
	  </table>
  </div>
</div>
<%= render 'pagination' %>