<div class="row">
	<div class="col-xs-4 col-xs-offset-2" style="text-align:right;">
		First Name:
	</div>
	<div class="col-xs-4">
		<%= @user.first_name %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-xs-offset-2" style="text-align:right;">
		Last Name:</div>
	<div class="col-xs-4">
		<%= @user.last_name %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-xs-offset-2" style="text-align:right;">
		Email:
	</div>
	<div class="col-xs-4">
		<%= @user.email %>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 col-xs-offset-2" style="text-align:right;">
		Phone:
	</div>
	<div class="col-xs-4">
		<%= @user.phone %>
	</div>
</div>
<% if @user == current_user %>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
			<%= link_to "Edit account", edit_user_path(@user) %>
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-5" style="text-align:center;">
			<%= link_to "Challenge", new_match_path + "?user=" + @user.id.to_s %>
		</div>
	</div>
<% end %>





