<div class="container">
	<div class="col-xs-1" style="padding-right:20px;">
		First Name:
	</div>
	<div class="col-xs-1">
		<%= @user.first_name %>
	</div>
</div>
<div class="container">
	<div class="col-xs-1" style="padding-right:20px;">
		Last Name:</div>
	<div class="col-xs-1">
		<%= @user.last_name %>
	</div>
</div>
<div class="container">
	<div class="col-xs-1" style="padding-right:20px;">
		Email:
	</div>
	<div class="col-xs-1">
		<%= @user.email %>
	</div>
</div>
<div class="container">
	<div class="col-xs-1" style="padding-right:20px;">
		Phone:
	</div>
	<div class="col-xs-1">
		<%= @user.phone %>
	</div>
</div>
<div class="container">
	<div class="col-xs-1" style="padding-right:20px;">
		Court Address:
	</div>
	<div class="col-xs-1">
		<%= @user.court_address %>
	</div>
</div>