<div class="row">
  <%= f.label :invitee_id, "Opponent" %>
  <%= f.hidden_field :invitee_id %>
  <input value="<%=@match.invitee.name%>" disabled="disabled" class="form-control" type="text">
</div>
<div class="row-trim">
	<div class="col-xs-12 col-md-6">
	  <%= f.label :date %>
	  <%= f.text_field :date, class: 'form-control date-picker', readonly: "true", placeholder: "Enter date", style:"cursor:default;background-color:white;" %>
	</div>
	<div class="col-xs-padding"></div>
	<div class="col-xs-12 col-md-6 bootstrap-timepicker">
		<%= f.label :time %>
	  <%= f.text_field :time, :ignore_date => true, class: 'form-control time-picker', readonly: "true", placeholder: "Enter time", style:"cursor:default;background-color:white;" %>
	</div>
</div>
<%= f.fields_for :address do |address| %>
	<%= render "shared/address_fields", address: address %>
<% end %>