<% provide(:title, 'Tennis matches') %>
<h1>Your Tennis Matches</h1>

<div class="list-group">
  <% @matches.each do |match| %>
    <%= link_to match, class:"list-group-item" do %>
      <div class="row">
        <div class="col-xs-12 col-sm-3" style="text-align:center">
          <div>
            <%= gravatar_for match.inviter == current_user ? match.invitee : match.inviter, size:50, class: "img-thumbnail" %> 
          </div>
          <div style="font-weight:bold;">
            <%= match.inviter == current_user ? match.invitee.name : match.inviter.name %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">  
          <span><b>Date: </b></span><span><%= "#{get_date(match.scheduled_date)} at #{get_time(match.scheduled_date)}" %></span>
        </div>
        <div class="col-xs-12 col-sm-3">  
          <span><b>Location: </b></span><span><%= match.address %></span>
        </div>
        <div class="col-xs-12 col-sm-3">  
          <span><b>Status: </b></span><span><%= match.status %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>