<h1>Match</h1>

<div class="row">
    <div class="col-sm-3 col-sm-offset-2 col-xs-12" style="text-align:center;">
      	<h2 style="margin:0 0 10px 0;">Players</h2>
      	<div class="row" >
	      	<div class="col-sm-12 col-sm-offset-0 col-xs-5">
	      		<%= link_to @match.inviter do %>
		      		<div>
		        		<%= gravatar_for @match.inviter, size: 150, class: "gravatar_match" %>
		        	</div>
		        	<div>
		        		<%= @match.inviter.name %>
		        	</div>
		        <% end %>
			</div>
			<div class="col-sm-12 col-xs-2">Verses</div>
	      	<div class="col-sm-12 col-xs-5" style="text-align:center;">
	      		<%= link_to @match.invitee do %>
		      		<div>
		        		<%= gravatar_for @match.invitee, size: 150, class: "gravatar_match" %>
		        	</div>
		        	<div>
		        		<%= @match.invitee.name %>
		        	</div>
		        <% end %>
			</div>
		</div>
    </div>
	<div class="col-sm-5 col-xs-12" style="padding-top:20px;">
		<div style="margin-bottom:10px;">
			<div class="row">
				<div class="col-xs-2 col-xs-offset-3 col-md-2 col-md-offset-0">
					<b>Date:</b>
				</div>
				<div class="col-xs-6 col-md-10">
					<%= @match.scheduled_date.strftime('%B %d') %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-xs-offset-3 col-md-2 col-md-offset-0">
					<b>Time:</b>
				</div>
				<div class="col-xs-6 col-md-10">
					<%= @match.scheduled_date.strftime('%l:%M %p') %>
				</div>
			</div>
			<div class="row" style="margin:">
				<div class="col-xs-2 col-xs-offset-3 col-md-2 col-md-offset-0">
					<b>Location:</b>
				</div>
				<div class="col-xs-6 col-md-10">
					<%= @match.address.address_1 %>
				</div>
				<% if @match.address.address_2.blank?%>
					<div class="col-xs-6 col-xs-offset-5 col-md-10 col-md-offset-2">
						<%= @match.address.address_2 %>
					</div>
				<% end %>
				<div class="col-xs-6 col-xs-offset-5 col-md-10 col-md-offset-2">
					<%= "#{@match.address.city}, #{@match.address.state} #{@match.address.postal_code}" %>
				</div>
			</div>
		</div>
		<div class="row" style="text-align:center;">
			<% if @match.can_accept?(current_user) %>
				<div class="col-xs-4 col-xs-offset-2 col-md-3 col-md-offset-0">
					<%= button_to 'Accept', {controller: "matches", action: "respond", response: true, id: @match.id}, method: :post, class: "btn btn-success", style: "width:100px !important;" %>
				</div>
			<% end %>
			<% if @match.can_reject?(current_user) %>
				<div class="col-xs-4 col-md-3">
					<%= button_to 'Reject', {controller: "matches", action: "respond", response: false, id: @match.id}, method: :post, class: "btn btn-danger", style: "width:100px !important;" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2" style="margin-top:20px;background-color: rgb(214, 233, 198);border-radius:10px;border:2px solid rgb(60, 118, 61);height:500px;text-align:center;font-size:20px;color: rgb(60, 118, 61);padding:30px">
		Coming soon: Trash talk your opponent by chatting over Pickup-Tennis!
	</div>
</div>