<% provide(:title, 'Tennis match') %>
<h1>Tennis Match</h1>
<div class="row">
    <div class="col-sm-4 col-xs-12" style="text-align:center;">
      	<div class="row">
	      	<div class="col-sm-12 col-sm-offset-0 col-xs-5 gravatar-match">
	      		<%= link_to @match.inviter do %>
		      		<div>
		        		<%= gravatar_for @match.inviter, size: 150, class: "img-thumbnail" %>
		        	</div>
		        	<h1>
		        		<%= @match.inviter.name %>
		        	</h1>
		        <% end %>
	        	<p style="font-size:12px;">
	        		<span>Status:</span>
	        		<% if @match.inviter_accepted == nil %>
	        			<span class="text-warning">Waiting for response</span>
	        		<% elsif @match.inviter_accepted %>
	        			<span class="text-success">Accepted</span>
	        		<% else %>
	        			<span class="text-danger">Declined</span>
	        		<% end %>
	        	</p>
			</div>
			<div class="col-sm-12 col-xs-2">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12 no-padding">
						<h2 class="match-verses">Verses</h2>
					</div>
				</div>
			</div>
	      	<div class="col-sm-12 col-xs-5 gravatar-match">
	      		<%= link_to @match.invitee do %>
		      		<div>
		        		<%= gravatar_for @match.invitee, size: 150, class: "img-thumbnail gravatar-match" %>
		        	</div>
		        	<h1>
		        		<%= @match.invitee.name %>
		        	</h1>
		        <% end %>
	        	<p style="font-size:12px;">
	        		<span>Status:</span>
	        		<% if @match.invitee_accepted == nil %>
	        			<span class="text-warning">Waiting for response</span>
	        		<% elsif @match.invitee_accepted %>
	        			<span class="text-success">Accepted</span>
	        		<% else %>
	        			<span class="text-danger">Declined</span>
	        		<% end %>
	        	</p>
			</div>
		</div>
    </div>

	<div class="col-sm-8 col-xs-12" style="padding-top:20px;">
		<table class="table table-bordered" style="max-width:600px;margin-left:auto;margin-right:auto;">
			<tr>
				<td class="info" style="color: #31708f;font-weight:bold;vertical-align:middle;width:10px;">
					Date:
				</td>
				<td>
					<%= @match.scheduled_date.strftime('%B %d, %Y') %>
				</td>
			</tr>
			<tr>
				<td class="info" style="color: #31708f;font-weight:bold;vertical-align:middle;">
					Time:
				</td>
				<td>
					<%= @match.scheduled_date.strftime('%l:%M %p') %>
				</td>
			</tr>
			<tr>
				<td class="info" style="color: #31708f;font-weight:bold;vertical-align:middle;">
					Location:
				</td>
				<td>
					<div>
						<%= @match.address.address_1 %>
					</div>
					<% if @match.address.address_2.blank?%>
						<div>
							<%= @match.address.address_2 %>
						</div>
					<% end %>
					<div>
						<%= "#{@match.address.city}, #{@match.address.state} #{@match.address.postal_code}" %>
					</div>
				</td>
			</tr>
		</table>
		<%= render "match_response_buttons" %>
	</div>
</div>




<div class="row">
	<div class="col-md-8 col-md-offset-2" style="margin-top:20px;background-color: rgb(214, 233, 198);border-radius:10px;border:2px solid rgb(60, 118, 61);height:500px;text-align:center;font-size:20px;color: rgb(60, 118, 61);padding:30px">
		Coming soon: Trash talk your opponent by chatting over Pickup-Tennis!
	</div>
</div>