<% provide(:title, 'Tennis match') %>
<h1>Tennis Match</h1>
<div class="row" style="margin-bottom:15px;">
    <div class="col-sm-3 col-sm-offset-2 col-xs-12" style="text-align:center;">
      	<div class="row">
	      	<div class="col-sm-12 col-sm-offset-0 col-xs-5 gravatar-match">
	      		<%= link_to @match.inviter do %>
		      		<div>
		        		<%= gravatar_for @match.inviter, size: 150, class: "img-thumbnail" %>
		        	</div>
		        	<h1>
		        		<%= @match.inviter.name %>
		        	</h1>
		        <% end %>
	        	<p style="font-size:12px;">
	        		<span>Status:</span>
	        		<% if @match.inviter_accepted == nil %>
	        			<span class="text-warning">Waiting for response</span>
	        		<% elsif @match.inviter_accepted %>
	        			<span class="text-success">Accepted</span>
	        		<% else %>
	        			<span class="text-danger">Declined</span>
	        		<% end %>
	        	</p>
			</div>
			<div class="col-sm-12 col-xs-2">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 col-xs-12 no-padding">
						<h2 class="match-verses">Verses</h2>
					</div>
				</div>
			</div>
	      	<div class="col-sm-12 col-xs-5 gravatar-match">
	      		<%= link_to @match.invitee do %>
		      		<div>
		        		<%= gravatar_for @match.invitee, size: 150, class: "img-thumbnail gravatar-match" %>
		        	</div>
		        	<h1>
		        		<%= @match.invitee.name %>
		        	</h1>
		        <% end %>
	        	<p style="font-size:12px;">
	        		<span>Status:</span>
	        		<% if @match.invitee_accepted == nil %>
	        			<span class="text-warning">Waiting for response</span>
	        		<% elsif @match.invitee_accepted %>
	        			<span class="text-success">Accepted</span>
	        		<% else %>
	        			<span class="text-danger">Declined</span>
	        		<% end %>
	        	</p>
			</div>
		</div>
    </div>

	<div class="col-sm-5 col-xs-12" style="padding-top:20px;">
		<table class="table table-bordered" style="max-width:600px;margin-left:auto;margin-right:auto;">
			<tr>
				<td class="info" style="color: #31708f;font-weight:bold;vertical-align:middle;width:10px;">
					Date:
				</td>
				<td>
					<%= @match.scheduled_date.strftime('%B %d, %Y') %>
				</td>
			</tr>
			<tr>
				<td class="info" style="color: #31708f;font-weight:bold;vertical-align:middle;">
					Time:
				</td>
				<td>
					<%= @match.scheduled_date.strftime('%l:%M %p') %>
				</td>
			</tr>
			<tr>
				<td class="info" style="color: #31708f;font-weight:bold;vertical-align:middle;">
					Location:
				</td>
				<td>
					<div>
						<%= @match.address.address_1 %>
					</div>
					<% if @match.address.address_2.blank?%>
						<div>
							<%= @match.address.address_2 %>
						</div>
					<% end %>
					<div>
						<%= "#{@match.address.city}, #{@match.address.state} #{@match.address.postal_code}" %>
					</div>
				</td>
			</tr>
		</table>
		<%= render "match_response_buttons" %>
	</div>
</div>

<div class="row">
	<div style="width:95%; margin:0 auto;">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2" id="message-wrapper" style="border-radius:4px; border:1px solid rgb(60, 118, 61); padding:0;">
			<div class="row" style="width:100%;margin:0 auto;border-bottom: 1px solid gray; background-color:lightgray;">
				<h3 style="text-align:center; margin:10px auto; padding: 0;">Trash Talk </h3 style="text-align:center;">
			</div>
			<div id="messages" style="height:400px; overflow:scroll;">
				<% @match.messages.each do |m| %>
					<%= render "message", m: m %>
				<% end %>
			</div>
			<div class="row" style="width:100%;margin:0 auto;border-top: 1px solid gray; background-color:lightgray;">
				<div class="col-xs-12">
					<%= form_tag "submit_message", remote: true, method: :post, id: "new_message"  %>
						<%= hidden_field_tag "match_id", @match.id %>
						<div class="input-group" style="margin: 10px 0;">
							<%= text_field_tag "content", nil, class: "form-control", placeholder: "Enter new message" %>
							<span class="input-group-btn">
								<%= button_tag "Submit", class: "btn btn-default" %>
							</span>
						</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var faye = new Faye.Client("http://justinmadsen.me/faye");
    faye.subscribe("/messages/new/<%= @match.id %>", function(data){
      eval(data);
    });
	$( "#messages" ).scrollTop( $( "#messages" )[0].scrollHeight );
</script>

