<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Pickup-Tennis", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <% if !logged_in? %>
            <li><%= link_to "Log in", login_path %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenu1">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to "My account", current_user %></li>
                <li class="divider"></li>
                <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </nav>
  </div>
</header>